<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
    
    <div class="wrapper">
        
        {%- if site.author %}
        <ul class="contact-list">
            <!-- {% if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
            {% endif -%} -->
            {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
            {%- endif %}
        </ul>
        {%- endif %}
        
        <div class="social-links">
            {%- include social.html -%}
            <ul><li><a rel="me" href="https://mastodon.online/@codechimp">Mastodon</a><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#mastodon"></use></svg> <span class="username">codechimp</span></a></li></ul>
        </div>
        
        <div class="copyright">
            Copyright © 2022 CodeChimp
        </div>
    </div>
    
</footer>
