---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

// Colours
$base-color: rgba(#222, 0.8);
$secondary-color: rgba(#222, 0.7);
$body-color: rgb(238, 238, 238);
$header-color: rgb(221, 221, 221);
$section-color: rgb(255, 255, 255);

// Fonts
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
$base-font : 'Ubuntu', serif;

body {
    background-color: $body-color;
}

header.site-header {
    background-color: $header-color;
}

.copyright {
    color: #616161;
    font-size: small;
}

section.card,
article.post {
    background-color: $section-color;
    margin: 40px 0;
    padding: 40px;
    box-shadow: 0 0 0 0, 0 0px 25px rgba(34, 34, 34, 0.15);
    border-radius: 3px;
    position: relative;
}

section.card {

    .card-content {
        display: flex;

        .card-image {
            flex: 0 0; 
            min-width: 200px;
            padding-right: 10px;
        }

        .card-text {
            color: #616161;
            padding-bottom: 25px;
        }

        h1 {
            font-weight: bold;
            margin-top: 15px;
            margin-bottom: 0;
            img {
                height: 30px;
            }
        }
        h2 {
            margin-bottom: 5px;
            color: $secondary-color;
            font-size: 1.3em;
        }
        h3 {
            margin: 0;
        }
        p.date {
            float: right;
            color: $secondary-color;
        }
    }

    .card-store-link {
        float:right;
        padding: -25px;
        margin-right: 25px;
        a {
            text-transform: uppercase;
            font-weight: bold;
            text-decoration:none; 
            color: #237afc;
            cursor:pointer;
        }
    }
    
    p {
        margin: 0;
    }
}

article.post-content {
    h2 {
        margin-top: 30px;
    }
    h3 {
        margin-bottom: 0;
    }
}

.code-title {
    position: relative;
    &::before {
        content: attr(data-title);
        display: block;
        width: 100%;
        font-family: monospace;
        text-indent: 15px;
        background-color: #DFDFED;
    }
}