---
layout: default
---

{% include card.html title="Battery Notes" app-img="ha-battery-notes.png" store-url="https://github.com/andrew-codechimp/HA-Battery-Notes" store-text="View on GitHub" markdown-content="ha-battery-notes.md" %}
{% include card.html title="Periodic Min/Max" app-img="ha-periodic-min-max.png" store-url="https://github.com/andrew-codechimp/HA-Periodic-Min-Max" store-text="View on GitHub" markdown-content="ha-periodic-min-max.md" %}
{% include card.html title="Label State" app-img="ha-label-state.png" store-url="https://github.com/andrew-codechimp/HA-Label-State" store-text="View on GitHub" markdown-content="ha-label-state.md" %}
{% include card.html title="Calendar Event" app-img="ha-calendar-event.png" store-url="https://github.com/andrew-codechimp/HA-Calendar-Event" store-text="View on GitHub" markdown-content="ha-calendar-event.md" %}
{% include card.html title="Hive Local Thermostat" app-img="ha-hive-local-thermostat.png" store-url="https://github.com/andrew-codechimp/HA-Hive-Local-Thermostat" store-text="View on GitHub" markdown-content="ha-hive-local-thermostat.md" %}
{% include card.html title="HA Menu" subtitle="for MacOS®" app-img="hamenu.png" store-url="https://github.com/codechimp-org/ha-menu" store-text="View on GitHub" markdown-content="hamenu.md" %}
{% include card.html title="LMS TVH" app-img="lmstvh.png" store-url="https://github.com/codechimp-org/lms-tvh" store-text="View on GitHub" markdown-content="lmstvh.md" %}
{% include card.html title="LMS Slim Snippets" subtitle="for Visual Studio Code" app-img="lmsvscode.png" store-url="https://marketplace.visualstudio.com/items?itemName=codechimp.lmsslim-snippets" store-text="View on Visual Studio Marketplace" markdown-content="lmsvscode.md" %}

