---
title: Home
layout: default
---

{% include card.html title="Tom Timer" subtitle="for Apple Watch®" app-img="tomtimer.png" store-url="https://apps.apple.com/us/app/tom-timer/id1507200108" store-text="View on the App Store" markdown-content="tomtimer.md"%}
{% include card.html title="When Do" subtitle="for Apple Watch®" app-img="whendo.png" store-url="https://apps.apple.com/us/app/when-do-a-complication/id1485413076" store-text="View on the App Store" markdown-content="whendo.md" %}
{% include card.html title="HA Menu" subtitle="for MacOS®" app-img="hamenu.png" store-url="http://hamenu.codechimp.org/" store-text="View on GitHub" markdown-content="hamenu.md" %}
{% include card.html title="Wear Codes" subtitle="for WearOS®" app-img="wearcodes.png" store-url="https://play.google.com/store/apps/details?id=org.codechimp.qrwear" store-text="View on Google Playstore" markdown-content="wearcodes.md" %}
{% include card.html title="App Links" subtitle="for Android®" app-img="applinks.png" store-url="https://play.google.com/store/apps/details?id=org.codechimp.applinks" store-text="View on Google Playstore" markdown-content="applinks.md" %}
{% include card.html title="Tasker Tap Wear" subtitle="for Android®" app-img="ttw.png" store-url="https://play.google.com/store/apps/details?id=org.codechimp.ttw" store-text="View on Google Playstore" markdown-content="ttw.md" %}
{% include card.html title="LMS TVH" app-img="lmstvh.png" store-url="https://github.com/codechimp-org/lms-tvh" store-text="View on GitHub" markdown-content="lmstvh.md" %}
{% include card.html title="LMS Slim Snippets" subtitle="for Visual Studio Code" app-img="lmsvscode.png" store-url="https://marketplace.visualstudio.com/items?itemName=codechimp.lmsslim-snippets" store-text="View on Visual Studio Marketplace" markdown-content="lmsvscode.md" %}

